<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title class="title">Arsenal</title>
</head>

<body>
    <div id="container">
        <header>
            <h1><a href="index.html">Arsenal</a></h1>
            <nav id="top_nav">
                <a href="index.html">TOP</a>
                
                <a href="sub02.html">選手/スタッフ</a>
            </nav>
        </header>
    </div>

    <article id="main_contents">
    <h1>NEWS</h1>
    <h2>サカ、ライスらの怪我の状況について監督が言及
    </h2>

    <tr>
        <a href="img/0001.webp" data-lightbox="xxxf" data-title="NEWS1" id="sub_image"></a>
            <th colspam="2"><img alt="0001.webp" src="img/0001.webp" decoding="async" width="600" heigth="1000" srcset="img/0001.webp" data-file-width="3264" data-file-heigth="2448"></a>
            </th>
    </tr>
    </br>

    <tr>
        <td>
            デクラン・ライス、ブカヨ・サカ、ウィリアム・サリバといった選手たちがサイドラインに追いやられている。
「デクランはブレントフォードでは出番がなかったし、まだトレーニングもしていない。「1、2時間後に別のセッションがあるので、今日中に彼についての詳しい情報を得られるだろう」。
惜しむらくは、スパーズ戦にメンバー入りしなかったFWガブリエル・マルティネッリとFWレアンドロ・トロサードも同じ状況であることだ。
「スパーズ戦のメンバーには入っておらず、それ以降もトレーニングを受けていない。
ブカヨ・サカも先週の日曜日のノースロンドンダービーで負傷して以来、出番がなく、アルテタは彼の状況を注意深く見守っている。
「アルテタは彼の状況を注意深く見守っている。今のところ、彼はチームと一緒に練習していない」。
さらに追い打ちをかけるように、ウィリアム・サリバとファビオ・ヴィエイラが水曜日のカラバオカップ、ブレントフォード戦を欠場した。
"ウィリアムはノックをしていて、ファビオはこの前の試合には参加していなかった。
10月のインターナショナル・ブレークを前に、ボスは柔軟な対応が必要であることを強調した。
「負傷者の数が多いので、状況に適応しなければならない。」

        </td>
    </tr>
    <h2>NEWS2</h2>
    <tr>
        <td>
            NEWS2内容
        </td>
    </tr>

</td>
    <table>
        <caption>Free Coding Resources</caption>
        <tr>
          <th>日程</th>
          <th>H or A</th>
          <th>スコア</th>
          <th>対戦相手</th>
        </tr>
        
        <tr>
          <td><a href="sub01.html">00月 00日</a></td>
          <td>H</td>
          <td>0-0</td>
          <td>ボーンマス</td>
        </tr>

      </table>
          
    </article>
</body>

</html>