<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title class="title">Arsenal</title>
</head>

<body>
    <div id="container">
        <header>
            <h1><a href="index.html">Arsenal</a></h1>
            <nav id="top_nav">
                <a href="index.html">TOP</a>
                
                <a href="member.html">選手/スタッフ</a>
            </nav>
        </header>
    </div>

    <article id="main_contents">
    <h1>NEWS</h1>
    <h2>NEWS TITLE</h2>

    <tr>
        <a href="img/0001.webp" data-lightbox="xxxf" data-title="NEWS1" id="sub_image"></a>
            <th colspam="2"><img alt="0001.webp" src="img/0001.webp" decoding="async" width="600" heigth="1000" srcset="img/0001.webp" data-file-width="3264" data-file-heigth="2448"></a>
            </th>
    </tr>
    </br>

    <tr>
        <td>
            NEWS内容
        </td>
    </tr>
    <h2>NEWS2</h2>
    <tr>
        <td>
            NEWS2内容
        </td>
    </tr>
     </br>

</td>
    <table>
        <caption>試合日程</caption>
        <tr>
          <th>日程</th>
          <th>H or A</th>
          <th>スコア</th>
          <th>対戦相手</th>
        </tr>
        
        <tr>
          <td><a href="sub01.html">08月 12日</a></td>
          <td>H</td>
          <td><font color=”red”>2-1</font></td>
          <td>ノッティンガムフォレスト</td>
        </tr>
        <tr>
            <td><a href="sub02.html">08月 22日</a></td>
            <td>A</td>
            <td><font color=”red”>0-1</font></td>
            <td>クリスタル・パレス</td>
          </tr>
          <tr>
            <td><a href="sub03.html">08月 26日</a></td>
            <td>H</td>
            <td>2-2</td>
            <td>フラム</td>
          </tr>
          <tr>
            <td><a href="sub04.html">09月 04日</a></td>
            <td>H</td>
            <td><font color=”red”>3-1</font></td>
            <td>マンチェスター・U</td>
          </tr>
          <tr>
            <td><a href="sub05.html">09月 18日</a></td>
            <td>A</td>
            <td><font color=”red”>0-1</font></td>
            <td>エヴァートン</td>
          </tr>
          <tr>
            <td><a href="sub06.html">09月 24日</a></td>
            <td>H</td>
            <td>2-2</td>
            <td>トッテナム</td>
          </tr>
          <tr>
            <td><a href="sub07.html">09月 30日</a></td>
            <td>A</td>
            <td><font color=”red”>0-4</font></td>
            <td>ボーンマス</td>
          </tr>
          <tr>
            <td><a href="sub06.html">10月 09日</a></td>
            <td>H</td>
            <td><font color=”red”>1-0</font></td>
            <td>マンチェスター・C</td>
          </tr>

      </table>
          
    </article>
</body>

</html>