<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
    <title>Arsenal Fan Club</title>
</head>
<body>
    <header>
      <div class="logo-title-container">
            <!-- ロゴ画像 -->
            <img src="{{ url_for('static', filename='img/0001.png') }}" alt="Arsenal" class="logo">
            
        <h1>Welcome to the Arsenal Fan Club, {{ username }}</h1>
    <!-- ナビゲーションバー -->
        <nav>
          <u1 class="nav-links">
            <l1><a href="{{ url_for('logout') }}">Logout</a></l1>
            <l1><a href="{{ url_for('arsenal_info') }}">Arsenal Information</a></l1>
          </u1>
        </nav>
    </header>

    <section>
      <h2>Next Match 01/30 21:30</h2>
      <h3>vs Crystal Palace (Emirates Sta.)</h3>
      <a href="{{ url_for('sub02') }}">Match Commentary</a>
    </section>
        
    <section class="match-results">
        <h2>Match Results</h2>
        <h3>Latest Match</h3>
        <div>FA Cup vs Liverpool - 0-2</div>
        <a href="{{ url_for('sub01') }}">View Details of Latest Match</a>
        <table>
          <caption>23/24 Premier League</caption>
          <tr>
              <th>Date</th>
              <th>Opponent</th>
              <th>Score</th>
          </tr>
          <tr>
              <td>2023-12-31</td>
              <td>Fulham</td>
              <td>2-2</td>
          </tr>
          <tr>
            <td>2023-12-29</td>
            <td>West Ham</td>
            <td>0-2</td>
          </tr>
          <tr>
            <td>2023-12-24</td>
            <td>Livapool</td>
            <td>1-1</td>
          </tr>
          <tr>
            <td>2023-12-17</td>
            <td>Brighon</td>
            <td>2-0</td>
        </tr>
        </table>
        <table>
        <caption>UEFA Champions League</caption>
            <tr>
                <th>Date</th>
                <th>Opponent</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>2023-12-13</td>
                <td>PSV</td>
                <td>1-1</td>
            </tr>
            <tr>
              <td>2023-11-23</td>
              <td>Lens</td>
              <td>6-0</td>
            </tr>
            <tr>
              <td>2023-11-09</td>
              <td>Sevilla</td>
              <td>2-0</td>
            </tr>
        </table>
    </section>
</body>
</html>
